{% extends "project_landing_layout.html" %}
{% block project_title %}{{ project.name }}{% endblock %}
{% block body %}
<div id="notplastic-download-content">
  {% if status == 'success' %}
    <object data="{{ url_for('notplastic_site.static', filename='img/icon_download.svg') }}" type="image/svg+xml" id="icon-download" class="confirmation-icon"></object>
  {% elif status == 'pending' %}
  <object data="{{ url_for('notplastic_site.static', filename='img/icon_wait.svg') }}" type="image/svg+xml" id="icon-pending" class="confirmation-icon"></object>
  {% elif status == 'failure' %}
  <object data="{{ url_for('notplastic_site.static', filename='img/icon_rejected.svg') }}" type="image/svg+xml" id="icon-failure" class="confirmation-icon"></object>
  {% endif %}
  {% if status == 'success' %}
  <h1>Gracias!</h1>
  <p>Ya podés descargar <em>{{project.name}}</em>. También te enviamos al email que ingresaste en <em>MercadoPago</em> un código que te permitirá descargar el material hasta {{ download_code.max_downloads - 1}} veces más.</p>
  <form action="{{url_for('notplastic_site.validate_download_code', project=project.slug)}}" method="post" id="notplastic-download-form">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input type="hidden" name="download_code" value="{{ download_code }}" />
    <input type="submit" name="download" value="bajar">
  </form>
  {% elif status == 'pending' %}
  <h1>Esperando</h1>
  <p>Estamos esperando que <em>MercadoPago</em> nos confirme la recepción de tu pago. Si pagaste con tarjeta de crédito o mediante tu cuenta de <em>MercadoPago</em>, vas a recibir por email un código de descarga por email en los próximos minutos. Si elegiste pagar con un cupón o por cajero automático, recibirás tu código cuando completes la operación.</p>
  <p>Si no recibís el código, por favor escribinos a <strong>compras@unabanda.cc</strong>{% if collection_id and collection_id != 'null' %} mencionando el código de operación {{ collection_id }} {% endif %}.
  {% elif status == 'failure' %}
    <h1>Hubo un error</h1>
  {% endif %}
</div>
{% endblock body %}
