{% extends "project_landing_layout.html" %}
{% block project_title %}{{ project.name }}{% endblock %}
{% block body %}
<div id="notplastic-download-content">
  <h1>{{ project.name }}</h1>
  <p class="project-description">{{ project.description }}</p>
  <div class="project-extended-description">{{ project.extended_description|markdown }}</div>
  <hr>
  <h2>Comprar con MercadoPago</h2>
  {% if project.is_variable_price %}
  <p>Por un mínimo de <strong class="amount">$ {{ project.amount|int }} (pesos argentinos)</strong>, podés descargar <em>{{ project.name }}</em>. Si querés apoyar nuestro proyecto, podés colaborar con hasta <strong class="max-amount">$ {{ project.max_amount|int }}</strong></p>
  {% else %}
  <p>Por <strong class="precio">$ {{ project.amount|int }} (pesos argentinos)</strong>, podés descargar <em>{{ project.name }}</em>.</p>
  {% endif %}
  <p>{% if project.max_downloads > 1 %}Además, recibirás un código de descarga que te permitirá descargar el material hasta {{ project.max_downloads - 1 }} {% if project.max_downloads > 2 %}veces{% else %}vez{% endif %}{% endif %} más.</p>
  <form action="{{url_for('notplastic_site.payment', project=project.slug)}}" method="post" id="notplastic-payment-form">
    {{ payment_form.csrf_token }}
    {% if project.is_variable_price %}
    {% if project.suggested_amount %}
    {% set suggested = project.suggested_amount %}
    {% else %}
    {% set suggested = project.amount %}
    {% endif %}
    {% if project.max_amount %}
    {{ payment_form.amount(min=project.amount|int, max=project.max_amount, value=suggested|int) }}
    {% else %}
    {{ payment_form.amount(min=project.amount|int, max=project.amount*2, value=suggested|int) }}
    {% endif %}
    <output name="total_amount" for="amount"></output>
    <label for="amount">Mové el deslizador para indicar cuánto querés pagar por <em>{{ project.name }}</em></label>
    {% endif %}
    <input type="submit" value="Comprar">
  </form>
  <h2>Código de descarga</h2>
  <p>Si ya tenés un código de descarga, ingresalo aquí.</p>
  <form action="{{url_for('notplastic_site.validate_download_code', project=project.slug)}}" method="post" id="notplastic-download-form">
    {{ download_code_form.csrf_token }}
    {{ download_code_form.download_code }}
    <input type="submit" value="Bajar" disabled="disabled">
  </form>
</div>
{% endblock %}
