<!doctype html>
<html>
  <head>
    <title>{% block project_title %}{% endblock %} — unabanda.cc</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('notplastic_site.static', filename='css/project_landing.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,900,300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="container">
      {% block body %}
      {% endblock %}
    </div>
    {% assets filters="rjsmin", output="gen/packed.js",
    "notplastic_site/bower_components/jquery/dist/jquery.js", "notplastic_site/js/project_landing.js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

  </body>
</html>
