* {
  margin:0;
  padding:0
}

html,body {
  height:100%
}


#container {
  width: 100%;
  min-height: 100%;
  background-color: white;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
     -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
     -moz-box-pack: center;
     -ms-flex-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  
}

#notplastic-download-content {
  width: 60%;
  border:1px solid #000;
  font-family: 'Roboto', sans-serif;
  color: #333;
  padding: 10px;
  background-color: rgba(218, 218, 218, 0.8);
  box-shadow: 0px 0px 8px rgba(0, 0, 3, 0.9);
  margin-top: 10px; margin-bottom: 10px;
}

@media (max-width: 800px) {
  #notplastic-download-content {
    width: 90%;
  }
}

  #notplastic-download-content h1 {
    font-size: 2.8em;
  }

  #notplastic-download-content object.confirmation-icon {
    width: 30%;
    margin: 0 auto;
    display: block;
    opacity: 0.3;
  }

  #notplastic-download-content object.confirmation-icon:hover {
    opacity: 0.5;
  }

  #notplastic-download-content p {
    margin-bottom: 10px;
  }
 
    #notplastic-download-content p.project-description {
      font-style: italic;
    }

  #notplastic-download-content hr {
    border: 1px solid #555;
  }

form#notplastic-payment-form {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}


  form#notplastic-payment-form input#amount {
    display: inline-block;
    width: 50%;
    margin: 0 auto;
    cursor: pointer;
  }

  form#notplastic-payment-form output[name=total_amount] {
    display: inline-block;
    width: 17%;
    white-space: nowrap;
    background-color: #333;
    padding: 1%;
    color: white;
    font-weight: bold;
    font-size: 28px;
  }

    form#notplastic-payment-form output[name=total_amount]::before { 
      content: "$ ";
    }

  form#notplastic-payment-form label[for=amount] {
    width: 100%;
    font-style: italic;
    font-size: 12px;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }

    form#notplastic-payment-form label[for=amount] em {
      font-weight: bold;
    }

  form#notplastic-payment-form input[type=submit] {
    -moz-box-shadow: 0px 3px 4px 0px #276873;
    -webkit-box-shadow: 0px 3px 4px 0px #276873;
    box-shadow: 0px 3px 4px 0px #276873;
    background-color:#599bb3;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius:20px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:22px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
    display: block;
    margin: 0 auto;
    background-image: url('/p/static/img/MP-payButton-logos.png');
    background-repeat: no-repeat;
    background-position: center 91%;
    background-size: 90%;
  }
    form#notplastic-payment-form input[type=submit]:hover {
	background-color:#408c99;
    }
    form#notplastic-payment-form input[type=submit]:active {
	position:relative;
	top:1px;
    }


form#notplastic-download-form {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

form#notplastic-download-form input#download_code {
  display: inline-block;
  height: 60px;
  font-size: 30px;
  width: 128px;
  padding: 0px;
  vertical-align: middle;
  margin-right: 11px;
  text-align: center;
}

form#notplastic-download-form input[type=submit]:disabled,
form#notplastic-download-form button[type=submit]:disabled {
  opacity: 0.6;
}

form#notplastic-download-form input[type=submit], form#notplastic-download-form button[type=submit] {
  display: inline-block;
  position: relative;
  -moz-box-shadow: 0px 3px 4px 0px #276873;
  -webkit-box-shadow: 0px 3px 4px 0px #276873;
  box-shadow: 0px 3px 4px 0px #276873;
  background-color: #599BB3;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  cursor: pointer;
  color: #FFF;
  font-family: arial;
  font-size: 22px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3D768A;
  margin: 0 auto;
  width: 125px; height: 63px;
}

form#notplastic-download-form output[for=download_code] {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  min-height: 20px;
  width: 70%;
}

form#notplastic-download-form output[for=download_code].hilite {
    -webkit-animation: target-fade 1s 1;
    -moz-animation: target-fade 1s 1;
}

@-webkit-keyframes target-fade {
    0% { background-color: rgba(255,255,153,1); }
    100% { background-color: rgba(255,255,153,0); }
}
@-moz-keyframes target-fade {
    0% { background-color: rgba(255,255,153,1); }
    100% { background-color: rgba(255,255,153,0); }
}

#unabanda-logo {
  display: block;
  position: absolute; z-index: 42;
  padding: 5px;
  width: 100px; 
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  top: 0%; right: 0%;
  background-color: rgba(255,255,255,1);
  color: #333;
  opacity: 0.4;
  text-decoration: none;
}

  #unabanda-logo:hover {
    opacity: 1;
  }
